name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [17, 21, 25]
    steps:
      - uses: actions/checkout@v5
      - uses: gradle/actions/wrapper-validation@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
      - run: ./gradlew :thymeleaf-layout-dialect:build
      - uses: codecov/codecov-action@v5
        with:
          directory: thymeleaf-layout-dialect/build/reports/jacoco/
          token: ${{ secrets.CODECOV_TOKEN }}
